# ── Groq AI ──────────────────────────────────────────
GROQ_API_KEY=gsk_your_groq_key_here

# ── PostgreSQL ───────────────────────────────────────
POSTGRES_USER=coursegenie_user
POSTGRES_PASSWORD=coursegenie_pass
POSTGRES_DB=coursegenie_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ── JWT ──────────────────────────────────────────────
JWT_SECRET=cG0urs3Genie_ecret_Key_2024_xYz
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

# ── App ──────────────────────────────────────────────
FRONTEND_URL=http://localhost:80
